body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#map {
    height: 100vh;
}

.leaflet-popup-content-wrapper {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.leaflet-popup-content {
    font-size: 14px;
    color: #333;
}
